{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
<style>
.tm-video-item{position:relative}.jl-light .tm-video-player .btn-video{background-color: rgba(255,255,255,.15); color: rgba(255,255,255,.5);}.jl-light .tm-video-player .btn-video:before{border-color:rgba(255,255,255,0.65)}.btn-video{text-align:center;height:60px;width:60px;z-index:1;font-size:17px;color:#fff;border:0;border-radius:100%;display:inline-block;position:relative}.btn-video i{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:20px}.btn-video:hover{color:#fff}.btn-video .ripple,.btn-video .ripple:before,.btn-video .ripple:after{position:absolute;top:50%;left:50%;width:100px;height:100px;border-radius:50%;-ms-border-radius:50%;transform:translate(-50%,-50%);-ms-box-shadow:0 0 0 0 rgba(255,255,255,0.6);-o-box-shadow:0 0 0 0 rgba(255,255,255,0.6);box-shadow:0 0 0 0 rgba(255,255,255,0.6);-webkit-animation:ripple 3s infinite;animation:ripple 3s infinite}.tm-video-player{position:relative;line-height:1}.tm-video-player .btn-video{transition:all .5s ease;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-ms-transition:all .5s ease;-o-transition:all .5s ease}.tm-video-player .btn-video:before{content:"";position:absolute;left:-8px;top:-8px;right:-8px;bottom:-8px;border:1px solid rgba(0,0,0,0.3);border-radius:50%}.tm-video-player .btn-video:hover{background:#fff;}.tm-video-item:hover .btn-video{background:#fff}.btn-video .ripple:before{-webkit-animation-delay:.9s;animation-delay:.9s;content:"";position:absolute}.btn-video .ripple:after{-webkit-animation-delay:.6s;animation-delay:.6s;content:"";position:absolute}@-webkit-keyframes ripple{70%{box-shadow:0 0 0 40px rgba(255,255,255,0)}100%{box-shadow:0 0 0 0 rgba(255,255,255,0)}}@keyframes ripple{70%{box-shadow:0 0 0 40px rgba(255,255,255,0)}100%{box-shadow:0 0 0 0 rgba(255,255,255,0)}}
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#el-{{ id }}.g5-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.parallax_image and particle.container_maxwidth == 'custom' and particle.bg_container_width is not empty %}
#{{ id }}-particle .g-container {
    max-width: {{ particle.bg_container_width|e }};
}
{% endif %}
.tm-video-player .btn-video {background-color: {{ particle.button_background|default('#2d2d32')}};color: {{ particle.button_color|default('#ffffff')}};}.btn-video:hover {color: {{ particle.button_hover_color|default('#ffffff')}};}.tm-video-player .btn-video:hover {background: {{ particle.button_background_hover|default('#ffffff')}};}.tm-video-item:hover .btn-video i {color: {{ particle.icon_hover_color|default('#2d2d32')}};}
</style>
{% endblock %}

{% block javascript %}
{% if particle.popup_type == 'lightbox' %}
<script src="{{ url('gantry-theme://js/jlcomponents/lightbox.min.js') }}"></script>
<script src="{{ url('gantry-theme://js/jlcomponents/lightbox-panel.min.js') }}"></script>
{% endif %}
{% if (particle.animation == 'parallax' or particle.bg_image_effect == 'parallax') %}
    <script src="{{ url('gantry-theme://js/jlcomponents/parallax.min.js') }}"></script>
{% endif %}
{% endblock %}

{# Set Viewport Height #}
{% if particle.viewport_height == 'full' %}
    {% set viewport_height = ' jl-height-viewport="offset-top: true;"' %}
{% elseif particle.viewport_height == 'percent' %}
    {% set viewport_height = ' jl-height-viewport="offset-top: true; offset-bottom: 20;"' %}
{% elseif particle.viewport_height == 'section' %}
    {% set viewport_height = ' jl-height-viewport="offset-top: true; offset-bottom: 50;"' %}
{% elseif particle.viewport_height == 'expand' %}
    {% set viewport_height = ' jl-height-viewport="expand: true;"' %}
{% endif %}

{# Set Padding #}
{% if particle.padding == 'default' %}
    {% set padding = ' jl-section' %}
{% elseif particle.padding == 'none' %}
    {% set padding = ' jl-section jl-padding-remove-vertical' %}
{% else %}
    {% set padding = ' jl-section jl-section-' ~ particle.padding|e %}
{% endif %}

{# Set Background color #}
{% set parallax_bg_color = particle.parallax_bg_color ? 'style="background-color: ' ~ particle.parallax_bg_color ~ ';"' %}
{% set parallax_overlay = (particle.parallax_bg_overlay ? '<div class="jl-position-cover" style="background-color: '~ particle.parallax_bg_overlay ~';"></div>') %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# Start Background Wrapper #}
{% set parallax_background %}
{% if particle.parallax_image %}
{% set bg_container_maxwidth = particle.container_maxwidth == 'custom' or particle.container_maxwidth == 'default' ? 'g-container' : 'jl-container' ~ (particle.container_maxwidth in ['small', 'large', 'xlarge', 'expand'] ? ' jl-container-' ~ particle.container_maxwidth|e) %}
{% if (particle.bg_image_effect == 'parallax' and (particle.horizontal_start or particle.horizontal_end or particle.vertical_start or particle.vertical_end or particle.parallax_easing)) %}
{% set parallax_bg_horizontal %}
{% if particle.horizontal_start or particle.horizontal_end %}bgx: {{ particle.horizontal_start ? particle.horizontal_start : '0' }},{{ particle.horizontal_end ? particle.horizontal_end : '0' }};{% endif %}
{% endset %}
{% set parallax_bg_vertical %}
{% if particle.vertical_start or particle.vertical_end %}bgy: {{ particle.vertical_start ? particle.vertical_start : '0' }},{{ particle.vertical_end ? particle.vertical_end : '0' }};{% endif %}
{% endset %}
{% set parallax_easing = particle.parallax_easing ? 'easing:' ~ particle.parallax_easing %}
{% set bgp_animation_cls = ' jl-parallax="' ~ parallax_bg_horizontal ~ parallax_bg_vertical ~ (particle.parallax_bg_breakpoint != 'always' ? ' media: @'~ particle.parallax_bg_breakpoint ~'' : '') ~ parallax_easing ~ '"' %}
{% endif %}
<div data-src="{{ url(particle.parallax_image)|e }}"{% if particle.bg_image_loading %} loading="eager"{% endif %} jl-img class="jl-wrapper jl-background-norepeat{{ particle.parallax_bg_overlay ? ' jl-position-relative' : '' }}{{ particle.bg_image_effect == 'fixed' ? ' jl-background-fixed' : '' }}{{ padding }} jl-background-{{particle.background_image_position|e}}{% if particle.background_image_size != 'auto' %} jl-background-{{particle.background_image_size|e}}{% endif %}{% if particle.parallax_bg_visibility != 'always' %} jl-background-image@{{particle.parallax_bg_visibility|e}}{% endif %}{% if particle.vertical_alignment != 'none' and particle.viewport_height != 'none' %} jl-flex jl-flex-{{ particle.vertical_alignment|e }}{% endif %}{% if particle.parallax_text_color != 'default' %} jl-{{particle.parallax_text_color|e}}{% endif %}{% if particle.blendmode != 'inherit' %} jl-background-blend-{{particle.blendmode|e}}{% endif %}" {{parallax_bg_color|default('')|raw}}{{ bgp_animation_cls|raw }}{{viewport_height|raw}}>
{{ parallax_overlay|raw }}
    <div class="{{ bg_container_maxwidth }}{{ particle.parallax_bg_overlay ? ' jl-position-relative' : '' }}">
        <div class="el-content"> 
{% endif %}
{% endset %}
{# End Background Wrapper #}
{% set end_parallax_background %}
{% if particle.parallax_image %}
        </div>
    </div>
</div>
{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {{ particle.pa_horizontal_start ? particle.pa_horizontal_start : '0' }},{{ particle.pa_horizontal_end ? particle.pa_horizontal_end : '0' }};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {{ particle.pa_vertical_start ? particle.pa_vertical_start : '0' }},{{ particle.pa_vertical_end ? particle.pa_vertical_end : '0' }};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {{ particle.scale_start ? particle.scale_start : '1' }},{{ particle.scale_end ? particle.scale_end : '1' }};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}
{% if particle.rotate_start or particle.rotate_end %}rotate: {{ particle.rotate_start ? particle.rotate_start : '0' }},{{ particle.rotate_end ? particle.rotate_end : '0' }};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {{ particle.opacity_start ? particle.opacity_start : '1' }},{{ particle.opacity_end ? particle.opacity_end : '1' }};{% endif %}
{% endset %}

{# Set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% set pa_z_index = particle.pa_z_index ? ' jl-position-z-index jl-position-relative' %}
{% set parallax_transform_origin = particle.parallax_transform_origin != 'center-center' ? ' jl-transform-origin-' ~ particle.parallax_transform_origin|e %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.parallax_start or particle.parallax_end or particle.pa_breakpoint %} jl-parallax="{{ pahorizontal ~ pavertical ~ scale ~ rotate ~ opacity }}{% if particle.easing %}easing: {{ particle.easing|e }};{% endif %}{% if particle.parallax_start %}start: {{ particle.parallax_start|e }};{% endif %}{% if particle.parallax_end %}end: {{ particle.parallax_end|e }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% elseif particle.animation != 'inherit' %}
 jl-scrollspy="cls: jl-animation-{{ particle.animation|e }};{% if particle.animation_repeat == 'enabled' %} repeat: true;{% endif %}{% if particle.animation_delay %} delay: {{particle.animation_delay|e}};{% endif %}"
{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{ particle.particle_title_element|e }} id="el-{{ id }}" class="g5-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}{% if particle.particle_title_text_transform %} jl-text-{{particle.particle_title_text_transform|e}}{% endif %}{% if particle.particle_title_font_weight %} jl-text-{{particle.particle_title_font_weight|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{ particle.particle_title_element|e }}>
{% endif %}
{% endset %}

{% set image_width = particle.image_width ? ' width="' ~ particle.image_width ~ '"' %}
{% set image_height = particle.image_height ? ' height="' ~ particle.image_height ~ '"' %}
{% set image_size = particle.image_width is empty and particle.image_height is empty ? ' ' ~ particle.posterimage|imagesize : '' %}

{% set video_width = particle.video_frame_width ? ' width="' ~ particle.video_frame_width ~ '"' %}
{% set video_height = particle.video_frame_height ? ' height="' ~ particle.video_frame_height ~ '"' %}

{% if particle.source == 'youtube' %}
{% set video_width = particle.video_frame_height and particle.video_frame_width is empty ? ' width="' ~ particle.video_frame_height * 16 // 9 ~ '"' : video_width %}
{% set video_height = particle.video_frame_width and particle.video_frame_height is empty ? ' height="' ~ particle.video_frame_width * 9 // 16 ~ '"' : video_height %}
{% endif %}

{% set controls = particle.controls == 'enabled' ? ' controls' %}
{% set loop = particle.loop == 'enabled' ? ' loop' %}
{% set muted = particle.muted == 'enabled' ? ' muted' %}
{% set play_inline = particle.play_inline == 'enabled' ? ' playsinline' %}
{% set lazy_video = particle.lazy_video == 'enabled' ? ' preload="none"' %}

{% set video_autoplay = particle.autoplay == 'on' ? ' autoplay' : '' %}

{% set image_border_cls = particle.border != 'none' ? ' jl-border-' ~ particle.border|e %}

{# Image Box Shadow #}
{% set img_box_shadow = particle.box_shadow != 'none' ? ' jl-box-shadow-' ~ particle.box_shadow|e %}
{% set img_box_shadow_hover = particle.box_shadow_hover != 'none' ? ' jl-box-shadow-hover-' ~ particle.box_shadow_hover|e %}

{# Video Box Shadow #}
{% set video_boxshadow = particle.video_box_shadow != 'none' ? 'jl-box-shadow-' ~ particle.video_box_shadow|e %}

{# Image Transition #}
{% set image_transition = particle.image_transition != 'none' ? ' jl-transition-' ~ particle.image_transition|e ~ ' jl-transition-opaque' %}

{% set transition_attr = particle.image_transition != 'none' ? ' tabindex="0"' %}
{% set transition_cls = particle.image_transition != 'none' and particle.link_frame ? ' jl-transition-toggle' %}
{% set image_transition_cls = particle.image_transition != 'none' and particle.link_frame == false ? ' jl-transition-toggle' %}

{# Set Visibility #}
{% if particle.visibility != 'inherit' %}
{% set visibility = particle.visibility in ['s', 'm', 'l', 'xl'] ? ' jl-visible@' ~ particle.visibility|e : ' jl-' ~ particle.visibility|replace({'-': '@'}) %}
{% endif %}

{# Set Margin #}
{% if particle.margin != 'inherit' %}
{% set margin = particle.margin != 'default' ? ' jl-margin-' ~ particle.margin|e : ' jl-margin' %}
{% endif %}

{# Set Link Frame html element #}
{% set link_frame_element = particle.link_frame ? 'a' : 'div' %}

{# Set Overlay Padding #}
{% if particle.overlay_style == 'none' and particle.overlay_padding == 'default' %}
    {% set overlay_padding_init = ' jl-padding' %}
{% elseif particle.overlay_style == 'none' and particle.overlay_padding == 'remove' %}
    {% set overlay_padding_init = '' %}
{% elseif particle.overlay_padding != 'default' %}
    {% set overlay_padding_init = ' jl-padding-' ~ particle.overlay_padding|e %}
{% endif %}

{# Set Overlay Margin #}
{% if particle.overlay_style != 'none' and particle.overlay_margin != 'none' %}
    {% set overlay_margin_init = ' jl-position-' ~ particle.overlay_margin|e %}
{% endif %}

{# Set Overlay style #}
{% set overlay_styles_int = particle.overlay_style != 'none' ? 'jl-overlay' : 'jl-panel' %}
{% set image_loading = particle.image_loading == false ? ' loading="lazy"' %}

{% block particle %}
{% if particle.enabled %}
{{ parallax_background }}
{{ particle_title_style }}

<div id="{{ id }}" class="{{ id ~ content_maxwidth ~ particle_alignment ~ visibility ~ pa_z_index ~ parallax_transform_origin ~ margin }}{% if particle.class %} {{ particle.class }}{% endif %}"{% if particle.popup_type == 'lightbox' %} jl-lightbox="toggle: a[data-type]{{particle.autoplay == 'on' ? '; video-autoplay: true;' : ''}}"{% endif %}{{ animation }}>

{% if particle.posterimage or particle.link_button %}

{% if particle.source == 'local' %}
    <{{ link_frame_element|raw }}{{ particle.link_frame and particle.popup_type == 'lightbox' ? ' data-type' : '' }} class="tm-video-item{{ particle.link_button ? '' : ' jl-inline-clip' }}{{ particle.link_frame ? ' jl-link-toggle' : '' }}{{ image_border_cls ~ img_box_shadow ~ img_box_shadow_hover ~ transition_cls }}"{% if particle.link_frame %}{% if particle.popup_type == 'modal' %} href="#{{ id }}" jl-toggle{% else %} href="{{ url(particle.local_video)|e }}"{% endif %}{{ transition_attr|raw }}{% endif %}{{ particle.link_frame ? ' aria-label="Open Video"' : ''}}>
{% elseif particle.source == 'youtube' %}
    <{{ link_frame_element|raw }}{{ particle.link_frame and particle.popup_type == 'lightbox' ? ' data-type' : '' }} class="tm-video-item{{ particle.link_button ? '' : ' jl-inline-clip' }}{{ particle.link_frame ? ' jl-link-toggle' : '' }}{{ image_border_cls ~ img_box_shadow ~ img_box_shadow_hover ~ transition_cls }}"{% if particle.link_frame %}{% if particle.popup_type == 'modal' %} href="#{{ id }}" jl-toggle{% else %} href="https://www.youtube.com/watch?v={{ particle.video|replace({'https://www.youtube.com/watch?v=': '', 'https://www.youtube.com/embed': '', 'https://youtu.be/': '', 'http://youtu.be/': ''}) }}{% if particle.autoplay != 'off' %}?rel=0;&autoplay=1&mute=1{% endif %}"{% endif %}{{ transition_attr|raw }}{% endif %}{{ particle.link_frame ? ' aria-label="Open Video"' : ''}}>
{% else %}
    <{{ link_frame_element|raw }}{{ particle.link_frame and particle.popup_type == 'lightbox' ? ' data-type' : '' }} class="tm-video-item{{ particle.link_button ? '' : ' jl-inline-clip' }}{{ particle.link_frame ? ' jl-link-toggle' : '' }}{{ image_border_cls ~ img_box_shadow ~ img_box_shadow_hover ~ transition_cls }}"{% if particle.link_frame %}{% if particle.popup_type == 'modal' %} href="#{{ id }}" jl-toggle{% else %} href="https://vimeo.com/{{ particle.video|replace({'https://player.vimeo.com/video/': '', 'https://vimeo.com/ondemand/': '', 'https://vimeo.com/channels/staffpicks/': '', 'https://player.vimeo.com/video/':''}) }}{% if particle.autoplay != 'off' %}?autoplay=1&muted=1{% endif %}" frameborder="0" allowfullscreen jl-responsive{{ video_autoplay }}{% endif %}{{ transition_attr|raw }}{% endif %}{{ particle.link_frame ? ' aria-label="Open Video"' : ''}}>
{% endif %}

{% if particle.posterimage and particle.link_button == false %}
    <img src="{{ url(particle.posterimage)|e }}"{{ image_width|raw }}{{ image_height|raw }}{{ image_size|raw }} alt="{{ particle.source|e }}" class="tm-image{{ image_transition }}"{{ image_loading|raw }}>
    <div class="jl-position-cover{% if particle.overlay_style != 'none' %} {{ particle.overlay_style|e }}{% endif %}{{ overlay_margin_init|e }}"></div> 
{% endif %}

{% if particle.link_button and particle.button_text %}
    <div class="jl-child-width-expand jl-flex-middle jl-grid" jl-grid>
        <div class="jl-width-1-4">
            {% else %}
    {% if particle.overlay_position in ['center', 'center-left', 'center-right', 'top-center', 'bottom-center'] %}
    <div class="jl-position-{{ particle.overlay_position|e ~ overlay_margin_init|e }}">
    {% endif %}
    <div class="{{ overlay_styles_int|e ~ overlay_padding_init|e }}{% if particle.overlay_position not in ['center', 'center-left', 'center-right', 'top-center', 'bottom-center'] %} jl-position-{{ particle.overlay_position|e }}{{ overlay_margin_init|e }}{% endif %} jl-margin-remove-first-child">
        {% endif %}
        <div class="tm-video-player">
            <div class="btn-video-wrap">
                {% if particle.link_frame %}
                        <span class="btn-video jl-icon-button"><i class="jl-icon" jl-icon="play; ratio: 2"><svg width="40" height="40" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><polygon fill="none" stroke="#000" points="6.5,5 14.5,10 6.5,15"></polygon></svg></i>{% if particle.hide_ripple == false %}<i class="ripple"></i>{% endif %}</span>
                {% else %}
                    {% if particle.popup_type == 'modal' %}
                        <a class="btn-video jl-icon-button" href="#{{ id }}" jl-toggle aria-label="Open Video"><i class="jl-icon" jl-icon="play; ratio: 2"><svg width="40" height="40" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><polygon fill="none" stroke="#000" points="6.5,5 14.5,10 6.5,15"></polygon></svg></i>{% if particle.hide_ripple == false %}<i class="ripple"></i>{% endif %}</a>
                        {% else %}
                        {% if particle.source == 'local' %}
                            <a data-type="video" class="btn-video jl-icon-button" href="{{ url(particle.local_video)|e }}"><i class="jl-icon" jl-icon="play; ratio: 2"><svg width="40" height="40" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><polygon fill="none" stroke="#000" points="6.5,5 14.5,10 6.5,15"></polygon></svg></i>{% if particle.hide_ripple == false %}<i class="ripple"></i>{% endif %}</a>
                        {% elseif particle.source == 'youtube' %}
                            <a data-type="youtube" class="btn-video jl-icon-button" href="https://www.youtube.com/watch?v={{ particle.video|replace({'https://www.youtube.com/watch?v=': '', 'https://www.youtube.com/embed': '', 'https://youtu.be/': '', 'http://youtu.be/': ''}) }}{% if particle.autoplay != 'off' %}?rel=0;&autoplay=1&mute=1{% endif %}"><i class="jl-icon" jl-icon="play; ratio: 2"><svg width="40" height="40" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><polygon fill="none" stroke="#000" points="6.5,5 14.5,10 6.5,15"></polygon></svg></i>{% if particle.hide_ripple == false %}<i class="ripple"></i>{% endif %}</a>
                        {% else %}
                            <a data-type="vimeo" class="btn-video jl-icon-button" href="https://vimeo.com/{{ particle.video|replace({'https://vimeo.com/': '', 'https://vimeo.com/ondemand/': '', 'https://vimeo.com/channels/staffpicks/': '', 'https://player.vimeo.com/video/':''}) }}{% if particle.autoplay != 'off' %}?autoplay=1&muted=1{% endif %}"><i class="jl-icon" jl-icon="play; ratio: 2"><svg width="40" height="40" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><polygon fill="none" stroke="#000" points="6.5,5 14.5,10 6.5,15"></polygon></svg></i>{% if particle.hide_ripple == false %}<i class="ripple"></i>{% endif %}</a>
                        {% endif %}
                        {% endif %}
                {% endif %}
            </div>
        </div>

    {% if particle.link_button and particle.button_text %}
        </div>
        <div class="jl-margin-remove-first-child">
            {{ particle.button_text|raw }}
        </div>
    </div>
    {% else %}
        </div>
    {{ particle.overlay_position in ['center', 'center-left', 'center-right', 'top-center', 'bottom-center'] ? '</div>' : '' }}
    {% endif %}

{% if particle.popup_type == 'modal' %}
<div id="{{ id }}" class="jl-flex-top" jl-modal>
    <div class="jl-modal-dialog jl-width-auto{% if particle.centermodal %} jl-margin-auto-vertical{% endif %}">
        <button class="jl-modal-close-{{ particle.close }}" type="button" jl-close></button>
        {% if particle.source == 'local' %}
            <video{{ video_width|raw }}{{ video_height|raw }} src="{{ url(particle.local_video)|e }}"{{ controls ~ loop ~ muted ~ play_inline ~ video_autoplay }}{{ lazy_video|raw }}{{ particle.autoplay == 'inview' ? ' jl-video="autoplay: inview"' : '' }} jl-video></video>
        {% elseif particle.source == 'youtube' %}
            <iframe{{ video_width|raw }}{{ video_height|raw }} src="https://www.youtube.com/embed/{{ particle.video|replace({'https://www.youtube.com/watch?v=': '', 'http://www.youtube.com/watch?v=' : '', 'https://youtu.be/': '', 'http://youtu.be/': '', 'https://www.youtube.com/watch?time_continue=3&v=': ''}) }}{% if particle.autoplay != 'off' %}?rel=0;&autoplay=1&mute=1{% endif %}" frameborder="0" allowfullscreen jl-responsive{{ muted }}{{ video_autoplay }} jl-video></iframe>
        {% else %}
            <iframe class="{{ video_boxshadow }}"{{ video_width|raw }}{{ video_height|raw }} src="https://player.vimeo.com/video/{{ particle.video|replace({'https://vimeo.com/': '', 'https://vimeo.com/ondemand/': '', 'https://vimeo.com/channels/staffpicks/': '', 'https://player.vimeo.com/video/':''}) }}{% if particle.autoplay != 'off' %}?autoplay=1&muted=1{% endif %}" frameborder="0" allowfullscreen jl-responsive{{ video_autoplay }}></iframe>
        {% endif %}
    </div>
</div>
{% endif %}

</{{ link_frame_element|raw }}>

{% else %}

{% if particle.source == 'local' %}
    <video {{ video_width|raw }}{{ video_height|raw }} src="{{ url(particle.local_video)|e }}"{{ controls ~ loop ~ muted ~ play_inline ~ video_autoplay }}{{ lazy_video|raw }}{{ particle.autoplay == 'inview' ? ' jl-video="autoplay: inview"' : '' }} jl-video></video>
{% elseif particle.source == 'youtube' %}
    <iframe{{ video_width|raw }}{{ video_height|raw }} class="{{ video_boxshadow }}" src="https://www.youtube.com/embed/{{ particle.video|replace({'https://www.youtube.com/watch?v=': '', 'http://www.youtube.com/watch?v=' : '', 'https://youtu.be/': '', 'http://youtu.be/': '', 'https://www.youtube.com/watch?time_continue=3&v=': '', 'https://www.youtube-nocookie.com/embed/': ''}) }}{% if particle.autoplay != 'off' %}?rel=0;&autoplay=1&mute=1{% endif %}" frameborder="0" allowfullscreen jl-responsive{{ muted }}{{ video_autoplay }}></iframe>
{% else %}
    <iframe class="{{ video_boxshadow }}"{{ video_width|raw }}{{ video_height|raw }} src="https://player.vimeo.com/video/{{ particle.video|replace({'https://vimeo.com/': '', 'https://vimeo.com/ondemand/': '', 'https://vimeo.com/channels/staffpicks/': '', 'https://player.vimeo.com/video/':''}) }}{% if particle.autoplay != 'off' %}?autoplay=1&muted=1{% endif %}" frameborder="0" allowfullscreen jl-responsive jl-video="false" allow="autoplay"{{ video_autoplay }}></iframe>
{% endif %}

{% endif %}

</div>
{{ end_parallax_background }}
{% endif %}
{% endblock %}